.row
  .col-md-4.col-md-offset-4
    .well
      %h3= "#{@comic.title} ##{@comic.issue_number} - New Discussion"
      %hr
      = bootstrap_form_for [@comic, @discussion] do |f|
        = f.text_field :title, placeholder: 'Why Batman is a Super Hero'
        = f.text_area :body, placeholder: "Because he's Batman...", rows: 11
        = f.submit 'Add Discussion', class: 'btn btn-success'
