.row
  .col-md-6.col-md-offset-1#discussion-header
    %h2.comicy-text
      = @comic.title
      .pull-right
        =link_to "Back to Discussion List", comic_path(@comic)
    %h3
      = @discussion.title
      %br
    %small
      Posted By -
      = link_to "#{@discussion.creator.full_name}", user_path(@discussion.creator)
      = "on #{@discussion.created_at}"
    %p= @discussion.body
.row
  .col-md-6.col-md-offset-1.well#reply-area
    - if logged_in?
      = bootstrap_form_for [@comic, @discussion, @reply] do |f|
        = f.text_area :body, label: 'Your Reply:', id: 'reply-text-area', rows: '5'
        = f.submit 'Submit', class: 'btn btn-info'
      %hr
    %h4 Replies:
    - unless @discussion.replies.blank?
      %ul
        -@discussion.replies.each do |reply|
          %li
            %p= reply.body
            %small
              Posted by:
              = link_to "#{reply.creator.full_name}", user_path(reply.creator)
              = "on #{reply.created_at}"
