.row
  .col-md-4.col-md-offset-4
    .well
      %h3.comicy-text Register for a new Comic Wall Account!
      %hr
      = bootstrap_form_for @user do |f|
        = f.email_field :email, placeholder: 'brucew@waynetech.com', autofocus: true
        = f.text_field :full_name, placeholder: 'Bruce Wayne', label: 'Full Name'
        = f.password_field :password, help: '7 character minimum'
        = f.submit 'Register Account', class: 'btn btn-success'
