.row
  - if logged_in?
    .col-md-6.col-md-offset-3.centered
      = render 'shared/add_to_list_link', msg: "Add #{@comic.title} to your reading list?"
  .col-md-6.col-md-offset-3.centered#comic-info
    %h1.comicy-text= "#{@comic.title} ##{@comic.issue_number}"
    = image_tag @comic.cover_art_url, class: 'comic-cover-lg'
.row
  .col-md-6.col-md-offset-3.centered
    - if logged_in?
      %h2=link_to 'Begin A Discussion', new_comic_discussion_path(@comic)
      or
    %p=link_to 'Return To The Wall', root_path
  .col-md-6.col-md-offset-3.well#discussion-container
    %h3 Discussions:
    - unless @comic.discussions.blank?
      %ul#discussion-list
        -@comic.discussions.each do |discussion|
          %li
            %h3
              = link_to "#{discussion.title}", comic_discussion_path(@comic, discussion)
              = "- #{discussion.reply_count} Replies"
            %small
              Posted By -
              = link_to "#{discussion.contributers_name}", user_path(discussion.creator)
              = "on #{discussion.created_at}"
    - else
      %h3 No discussions yet! Post the first one!
